[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "themes/avicenna"]
	path = themes/avicenna
	url = https://github.com/hadisinaee/avicenna.git
